body {
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

#docker-browser {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 15px;
}

#containers, #images, #networks, #volumes {
  margin: 10px;
  padding: 5px;
}

#containers-active, #images-active, #layers, #images-dangling, #containers-exited, #volumes-dangling, #volumes-active, #networks-dangling, #networks-active, #containers, #images {
  clear: left;
}

#networks-active, #networks-dangling {
  clear: right;
}

.dangling, .exited {
  font-size: 9px;
}

#volumes {
  float: left;
  width: 40%;
}

#networks {
  float: right;
  width: 40%
}

.clear {
  clear: all;
}

.container {
  cursor: pointer;
}

.image, .container, .volume, .network {
  float: left;
  margin: 7px;
  padding: 7px;
  background-color: gray;
  opacity: 0.2;
  border-radius: 3px;
}

#images, #containers, #volumes, #networks {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.volume, .network, .image {
  margin: 4px;
  padding: 4px;
  line-height: 1.2;
}

.network {
  float: right;
}

.active {
  opacity: 0.70;
}
