body {
  background-color: #273b54;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#docker-browser {
  background-color: white;
  width: 65%;
  margin: auto;
  padding: 15px;
}

#containers, #images, #layers {
  clear: left;
}

#volumes {
  float: left;
  width: 40%;
}

#networks {
  float: right;
  width: 40%
}

.clear {
  clear: all;
}

.image, .container {
  width: 275px;
  border: 1px solid black;
  float: left;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}
