<!DOCTYPE html>
<html>
    <head>
        <title>Docker Browser</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/docker-browser.js') }}"></script>
    </head>

    <body>
        <div id="containers">
          <h2>Containers</h2>
        </div>

        <div id="volumes">
          <h2>Volumes</h2>
        </div>

        <div id="network">
          <h2>Networks</h2>
        </div>

        <div id="images">
          <h2>Images</h2>
        </div>

        <div id="layers">
          <h2></h2>
        </div>
    </body>
</html>
